body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(117, 117, 117, 1) 0%, rgba(198, 198, 198, 1) 100%);
    text-align: center;
}

h4 {
    text-transform: uppercase;
}

.modal-title {
    padding-left: 0px;
    font-weight: 900;
    font-variant: initial;
    text-transform: uppercase;
}

.login-header {
    border-bottom: 1px solid #dee2e6;
    padding: 15px;
    box-shadow: 0px 1px #888;
}

.middle-content {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 60px;
    text-align: center;
}

.bottom-content {
    border-top: 1px solid #dee2e6;
    padding: 15px;
    box-shadow: 0px 1px #888;
}

.boton {
    padding-left: 90px;
    padding-right: 30px;
    padding-bottom: 40px;
}