<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" href="css/index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>

  <footer class="footer" style="background-color: whitesmoke;padding-top: 10px; color: black;" >
      <div class="container" >
        <div ></div>
          <div class ="center-footer" >
            <ul class="socials" style="list-style: none; padding: 0; margin: 10px 0;">
              <li style="display: inline-block; margin-right: 5px; color: white;"><a class="fa-brands fa-facebook"></a></li>
              <li style="display: inline-block; margin-right: 5px;"><a class="fa-brands fa-twitter"></a></li>
              <li style="display: inline-block; margin-right: 5px;"><a class="fa-brands fa-linkedin"></a></li>
              <li style="display: inline-block; margin-right: 5px;"><a class="fa-brands fa-instagram"></a></li>
              <li style="display: inline-block; margin-right: 5px;  text-align: center;"> © 2023 All rights reserved</li>
            </ul>
          </div>
      </div>
  </footer>


 <!-- Bootstrap JS script -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-uefMccjAQgU5V9DkMu5D4nbdIBU3E5b8QpGSQBDjWGe4Yos2pDlH6Pp4BjqQ6fji" crossorigin="anonymous"></script>

</body>
</html>