<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" href="css/index.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>

    <header class="header">
        <!-- Navigation Bar -->
        <nav class="navbar">
          <img class="navbar__logo" src="img/logo01.png" alt="Logotipo">
          <ul class="links">
              <li><a href="index.html">Inicio</a></li>
              <li><a href="Nosotros.php">Nosotros</a></li>
              <li><a href="servicios.php">Servicios</a></li>
              <li><a href="usuario.php">Usuario</a></li>
              <li><a href="cita.php">Cita</a></li>
              <li><a href="expediente.php">Expediente</a></li>
              <li><a href="mascota.php">Mascota</a></li>
              <li><a href="producto.php">Produto</a></li>
              <li><a href="categoria.php">Categoría</a></li>
              <li><a href="crear_cita.php">Reservas</a></li>
              <li><a href="crear_expediente.php">Crear Expediente</a></li>
          </ul>
        </nav>
    </header>
  </body>
</html>